<div class="container">
    <p-growl [(value)]="msgs"></p-growl>
    <form autocomplete="off" (ngSubmit)="findAllSummary()">
      <div class="ui-g">
          <div class="ui-g-12"> 
              <h1>Transactions</h1>
          </div>
          
          <div class="ui-g-12 ui-fluid">
              <label>Title</label>
              <input type="text" pInputText name="title" [(ngModel)]="filter.title">
          </div>
        
          <div class="ui-g-12">
            <label style="display: block;">Payment Due</label>
            <p-calendar dateFormat="dd/mm/yy" [showIcon]=true name="filter.dateFrom" 
              [(ngModel)]="dateFrom"></p-calendar>
            
            <label style="margin: 0 21px 0 55px">to</label>

            <p-calendar dateFormat="dd/mm/yy" [showIcon]=true name="filter.dateTo" 
              [(ngModel)]="dateTo"></p-calendar>
          </div>
        
          <div class="ui-g-12">
            <button type="submit" pButton label="Search"></button>
          </div>
        </div>
      
        <div class="ui-g">
          <div class="ui-g-12">
              <p-table [value]="transactions" [paginator]="true" [rows]="filter.pageSize"
                 [responsive]="true" [lazy]=true [totalRecords]="totalElements" 
                 (onLazyLoad)="onPageChange($event)" #table>
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Person</th>
                      <th>Title</th>
                      <th>Payment Due</th>
                      <th>Payment Date</th>
                      <th>Total</th>
                      <th class="col-action"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-transaction>
                    <tr>
                      <td>{{transaction.person}}</td>
                      <td>{{transaction.title}}</td>
                      <td class="col-date">{{transaction.paymentDue | date: 'dd/MM/y'}}</td>
                      <td class="col-date">{{transaction.date | date: 'dd/MM/y'}}</td>
                      <td class="col-total"><span [style.color]="transaction.type === 'DEPOSIT' ? 'blue' : 'red'">{{transaction.total | number}}</span></td>
                      <td >
                        <button pButton icon="fa-pencil" pTooltip="Edit" tooltipPosition="top"></button>
                        <button pButton icon="fa-trash" pTooltip="Remove"
                          (click)="delete(transaction)" tooltipPosition="top"></button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
          </div>
          <div class="ui-g-12">
            <a pButton label="New Transaction"></a>
          </div>
        
    
      </div>
    </form>
  </div>
  