<div class="container">
    <div class="ui-g">
      <div class="ui-g-12"> 
          <h1>Transactions</h1>
      </div>
      
      <div class="ui-g-12 ui-fluid">
          <label>Title</label>
          <input type="text" pInputText>
      </div>
    
      <div class="ui-g-12">
        <label style="display: block;">Payment Due</label>
        <input type="text" pInputText>
        <label>to</label>
        <input type="text" pInputText>
      </div>
    
      <div class="ui-g-12">
        <button type="submit" pButton label="Search"></button>
      </div>
    </div>
  
    <div class="ui-g">
      <div class="ui-g-12">
        <app-transaction-table [transactions]="transactions"></app-transaction-table>
      </div>
      <div class="ui-g-12">
        <a pButton label="New Transaction"></a>
      </div>
  
  
    </div>
  
  </div>
  