<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>New Transaction</h1>
      </div>
      <div class="ui-g-12">
          <p-selectButton [options]="transactionTypes" name="selectedType" [(ngModel)]="selectedType" #transaction></p-selectButton>
      </div>

      <div class="ui-g-3 ui-sm-6 ui-fluid">
        <label>Payment due</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]=true></p-calendar>
      </div>

      <div class="ui-g-3 ui-sm-6 ui-fluid">
        <label>{{transaction.value === 'DEPOSIT' ? 'Deposit Date' : 'Withdrawal Date'}}</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]=true></p-calendar>
      </div>

      <div class="ui-g-9 ui-sm-12 ui-fluid">
        <label>Title</label>
        <input type="text" pInputText name="title" #title="ngModel"
          ngModel required minlength="5">

        <app-message [control]="title" error="required"
          message="A title is required"></app-message>
        <app-message [control]="title" error="minlength"
          message="Minimum of {{title.errors?.minlength?.requiredLength}} letters required"></app-message>  
      </div>

      <div class="ui-g-3 ui-sm-12 ui-fluid">
        <label>Total</label>
        <input currencyMask pInputText name="total" [options]="{prefix: '', allowNegative: false}" ngModel>
      </div>

      <div class="ui-g-6 ui-sm-12 ui-fluid">
        <label>Category</label>
        <p-dropdown [options]="categories" [(ngModel)]="selectedCategory" 
          name="selectedCategory" [filter]="true" [autoWidth]="false" 
          placeholder="Choose"></p-dropdown>
      </div>

      <div class="ui-g-6 ui-sm-12 ui-fluid">
        <label>Person</label>
        <p-dropdown [options]="persons" [(ngModel)]="selectedPerson" 
          name="selectedPerson" [filter]="true" [autoWidth]="false" 
          placeholder="Choose"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-sm-12 ui-fluid">
        <label>Description</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>
      
      <div class="ui-g-12">
        <button type="submit" label="Save" pButton></button>
        <button type="button" label="New" pButton class="ui-button-info"></button>
        <a href="javascript:;">back to search page</a>
      </div>
    </div>
  </form>
</div>