<div class="container">
  <form autocomplete="off" (ngSubmit)="findByFilterSummary()">
    <div class="ui-g">
        <div class="ui-g-12"> 
            <h1>Person</h1>
        </div>
        
        <div class="ui-g-12 ui-fluid">
            <label>Name</label>
            <input type="text" pInputText name="name" [(ngModel)]="filter.name">
        </div>
           
        <div class="ui-g-12">
          <button type="submit" pButton label="Search"></button>
        </div>
      </div>

      <div class="ui-g">
          <div class="ui-g-12">
              <p-table [value]="persons" [paginator]="true" [rows]="filter.pageSize" 
                [responsive]="true" [lazy]="true" [totalRecords]="totalElements"
                (onLazyLoad)="onPageChange($event)" #table>
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Name</th>
                      <th>City</th>
                      <th>Suburb</th>
                      <th>Status</th>
                      <th class="col-action"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-person>
                    <tr>
                      <td>{{person.name}}</td>
                      <td>{{person.city}}</td>
                      <td>{{person.suburb}}</td>
                      <td>
                        <a (click)="changeStatus(person)" style="cursor: pointer" pTooltip="{{person.active ? 'Inactivate' : 'Activate'}}">{{person.active ? 'Active' : 'Inactive'}}</a></td>
                      <td>
                        <button pButton icon="fa-pencil" pTooltip="Edit" tooltipPosition="top"></button>
                        <button pButton icon="fa-trash" pTooltip="Remove" 
                          (click)="delete(person)" tooltipPosition="top"></button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
          </div>
          <div class="ui-g-12">
            <a pButton label="New Person"></a>
          </div>
      
      
        </div>
  </form>
</div>