<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="showingMenu = !showingMenu"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!showingMenu">
    <li class="navbar-user">Bilbo Baggins</li>
    <li class="navbar-menuitem"><a href="#">Transactions</a></li>
    <li class="navbar-menuitem"><a href="#">People</a></li>
    <li class="navbar-menuitem"><a href="#">Logout</a></li>
  </ul>
</nav>