<div class="container">
  <form>
    <div ui-g>
      <div class="ui-g-12">
        <h1>New Person</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Name</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-2 ui-sm-12 ui-fluid">
        <label>Number</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-8 ui-sm-12 ui-fluid">
        <label>Street</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-2 ui-sm-12 ui-fluid">
        <label>Zip Code</label>
        <p-inputMask mask="9999" [maxlength]="4"></p-inputMask>
      </div>

      <div class="ui-g-6 ui-sm-12 ui-fluid">
        <label>Suburb</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-6 ui-sm-12 ui-fluid">
        <label>City</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Save"></button>
        <button pButton type="button" label="New" class="ui-button-info"></button>
        <a href="#">back to search page</a>
      </div>
    </div>
  </form>
</div>