<div class="container">
    <div class="ui-g">
        <div class="ui-g-12"> 
            <h1>Person</h1>
        </div>
        
        <div class="ui-g-12 ui-fluid">
            <label>Name</label>
            <input type="text" pInputText>
        </div>
           
        <div class="ui-g-12">
          <button type="submit" pButton label="Search"></button>
        </div>
      </div>

      <div class="ui-g">
          <div class="ui-g-12">
            <app-person-table [persons]=persons></app-person-table>
          </div>
          <div class="ui-g-12">
            <a pButton label="New Person"></a>
          </div>
      
      
        </div>
</div>